*{
    font-family: "Work Sans", Arial, sans-serif;
}

/* Background Image */
.ser-s1-background-img{
    background:  linear-gradient(rgba(43, 57, 145, .75), rgba(43, 57, 145, .75)), url('../../Images/Contact/bg_2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top center !important;

    text-align: center;

    padding: 110px 80px !important;
}

/* Text */
.ser-s1-text{
    color: #fff;
    font-size: 40px;
    margin-bottom: 8px;
    font-weight: 800;
}

/* Text Container */
.ser-s1-txt-container{
    margin-bottom: 16px;
}

/* Nav Link */
.ser-s1-navlink{
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 13px;
    margin-right: 15px;
    margin-bottom: 1px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* span */
.ser-s1-para{
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 1px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* TAB view */
@media screen and (max-width: 992px ) {
    /* Background Image */
    .ser-s1-background-img{
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: top center;
    }
}

/* ----------------------------------------------------------------Section 2--------------------------------------------------------- */

/* Container */
.ser-s2-container{
    padding: 100px 150px !important ;
}

/* Column 1 */
.ser-s2-col1-container{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* Heading 1 */
.ser-s2-heading1{
    color: #f8931d;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
}

/* Heading 2 */
.ser-s2-heading2{
    color: #2b3991;
    font-size: 38px;
    margin-bottom: 24px;
    font-weight: 700;
}

/* Paragraph */
.ser-s2-para{
    color: #00000099;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: justify;
}

/* Paragraph 2 */
.ser-s2-para2{
    font-size: 16px;
    margin-bottom: 8px;
    color: #00000099;
    font-weight: 500;
}

/* List Text */
.ser-s2-list-txt{
    color: #000000cf;
    font-size: 16px;
    line-height: 25px;
    list-style-type: disc;
}

/* List Style */
.ser-s2-list-txt::marker{
    font-size: 25px;
    color: #2b3991;
}

/* Image Container */
.ser-s2-img-container{
    margin-left: 30px;
    margin-right: 0px;
}

/* Image */
.ser-s2-image{
    height: 600px;
    width: 100%;
    object-fit: cover;
}

/* TAB view */
@media screen and (max-width: 992px) {
    
    /* Container */
    .ser-s2-container{
        padding: 80px 20px !important;
    }

    /* Image */
    .ser-s2-image{
        width: 110%;
    }

}

/* MOBILE view */
@media screen and (max-width: 767px) {

    /* Heading 2 */
    .ser-s2-heading2{
        font-size: 32px;
    }
    
    /* Image Container */
    .ser-s2-img-container{
        margin-left: 0px;
        padding-top: 80px;
    }

    /* Image */
    .ser-s2-image{
        width: 100%;
    }
}

/* ----------------------------------------------------------------Section 4---------------------------------------------------------------- */

/* Container */
.ser-s4-container{
    padding: 50px 150px !important;
}

/* Card Container */
.ser-s4-card-container{
   padding-top: 50px;
   display: flex;
   justify-content: center;
}

/* Card */
.ser-s4-card{
    margin: 0px 16px 24px 16px;
    padding: 0px 15px 10px 15px !important;
    border: 2px solid #2b3991;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover{
        background-color: #2b3991;
    }
}

/* Icon Container */
.ser-s4-icon-container{
    width: 80px;
    height: 80px;
    background-color: #2b3991;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 25px 0px;
    transition: 1s ease-in-out;

    &:hover{
        transform: rotateY(180deg);
    }
}

/* Icon */
.ser-s4-icon{
    font-size: 50px;
    color: #fff;
    transition: 1s ease-in-out;
}

/* Text Container */
.ser-s4-text-container{
    padding-top: 16px;
}

/* Small Heading */
.ser-s4-sm-heading{
    color: #f8931d;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}

/* Small Paragraph */
.ser-s4-sm-para{
    color: #00000099;
    font-size: 16px;
    margin-bottom: 8px;
    transition: 1s ease-in-out;
}

/* Color Change on Icon Container */
.ser-s4-card:hover .ser-s4-icon-container{
    background-color: #fff;
}

/* Color Change on Icon */
.ser-s4-card:hover .ser-s4-icon{
    color: #2b3991;
}

/* Color Change on Paragraph */
.ser-s4-card:hover .ser-s4-sm-para{
    color: #fff;
}

/* TAB view */
@media screen and (max-width: 992px) {
    
    /* Container */
    .ser-s4-container{
        padding: 50px 50px !important;
    }

    /* Card Container */
    .ser-s4-card-container{
        padding: 50px 0px;
    }
}

/* MOBILE view */
@media screen and (max-width: 767px) {
    
    /* Container */
    .ser-s4-container{
        padding: 50px 30px !important;
    }

    /* Card Container */
    .ser-s4-card-container{
        padding: 50px 20px;
    }
}

/* ----------------------------------------------------------------Section 5--------------------------------------------------------- */

/* Container */
.ser-s5-container{
    padding: 0px 150px !important;
}

/* Horizontal Line Container */
.ser-s5-hr-line-container{
    display: flex;
    justify-content: center;
}

/* Horizontal Line */
.ser-s5-hr-line{
    color: #000000;
    opacity: 0.5;
    width: 100%;
}

/* Small Container */
.ser-s5-sm-container{
    padding-bottom: 10px;
    padding-right: 35px !important;
}

/* Small Heading */
.ser-s5-sm-heading{
    font-size: 24px;
    color: #f8931d;
    margin-bottom: 8px;
    font-weight: 600;
}

/* Small Paragraph */
.ser-s5-sm-para{
    font-size: 16px;
    color: #00000099;
    margin-bottom: 16px;
}



/* TAB view */
@media screen and (max-width: 992px) {

    /* Container */
    .ser-s5-container{
        padding: 0px 30px !important;
    }
    
    /* Horizontal Line */
    .ser-s5-hr-line{
        width: 87%;
    }
}